/* General reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variables */
:root {
  --font-base: 1rem;
  --font-small: 0.9rem;
  --font-large: 1.25rem;
  --font-xlarge: 1.5rem;
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
}

body{
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
  padding: 16px;
  background-color: var(--yellow);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  color: var(--gray950);
}

/* main */
main {
  display: grid;
  place-items: center;
}

/* Card  -start*/
.card {
  background: var(--white);
  border: solid rgb(0, 0, 0) 0.1rem;
  border-radius: 0.7rem;
  box-shadow: 0.6rem 0.6rem 0 rgb(0, 0, 0);
  overflow: hidden;
  max-width: 21rem;
  padding: 1.3rem;
}
  /*card image*/
.card-image img {
  width: 100%;
  border-radius: 0.7rem;
  display: block;
}
  /* card content -start */
.card-content {
  padding-top: 1.3rem;
  color: var(--gray950);
}
  /* tag */
.tag {
  display: inline-block;
  background: var(--yellow);
  color: var(--gray950);
  font-size: var(--font-small);
  font-weight: 700;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  margin-bottom: 0.625rem;
}
  /* date */
.date {
  color: var(--gray950);
  font-size: var(--font-small);
  margin-bottom: 0.625rem;
}
  /* card header */
.card-h {
  font-size: var(--font-large);
  font-weight: bold;
  margin-bottom: 0.625rem;
  color: var(--secondary-color);
}
.card-h:hover {
  color: var(--yellow);
}
  /* card paragraph */
.card-p {
  font-size: var(--font-small);
  color: var(--gray500);
  line-height: 1.6em;
  margin-bottom: 1rem;
}
 /* author */
.author {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 0.625rem;
}

.author-name {
  font-size: var(--font-base);
  color: var(--gray950);
}

  /* Footer */
footer {
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  padding:  0.5em 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(216, 15%, 48%);
}

  /* Footer Links */
footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
